:root {
	--bgColor: #f2f2f2;
	--bgListColor: #e2e2e2;
	--bgFormColor: #d2d2d2;
	--bgToDoItemActiveColor: #c2c2c2;
	--borderColor: #b2b2b2;
	--textColor: #333333;
	--bgRestoreListColor: rgba(0,0,0,0.2);
	--bgRestoreListItemColor: #ff8484;
	--toDoListWidth: 24rem;
}

html {
	height: 100%;
	font-family: Arial;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 100%;
	background-color: var(--bgColor);
	display: flex;
	justify-content: center;
	color: var(--textColor);
	position: relative;
}

.toDoContainer {
	margin: 1rem;
	background-color: var(--bgListColor);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--borderColor);
	overflow: auto;
	width: var(--toDoListWidth);
}

.toDoForm {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--bgFormColor);
	border-bottom: 1px solid var(--borderColor);
}

	.toDoForm input {
		font-size: 1rem;
		padding: 0.2rem;
		border: none;
		width: 80%;
	}

		.toDoForm input:focus {
			font-size: 1rem;
			padding: 0.2rem;
			outline: 1px dashed var(--borderColor);
		}

	.toDoForm button {
		margin-left: 1rem;
		padding: 0rem 0.4rem;
	}

		.toDoForm button:hover {
			cursor: pointer;
		}

		.toDoForm button img {
			height: 1.2rem;
		}

.toDoItem {
	position: relative;
	font-size: 1.2rem;
	padding: 1rem;
}

	.toDoItem:not(:first-child) {
		border-top: 1px dashed var(--borderColor);
	}

	.toDoItem:hover {
		display: block;
		background-color: var(--bgToDoItemActiveColor);
	}

		.toDoItem:hover .toDoItemMenu {
			display: flex;
		}

	.toDoItem label {
		display: flex;
	}

	.toDoItem label {
		display: flex;
	}		
	
	.toDoItem span {
		display: block;
		margin-left: 1rem;
		flex: 1;
	}

	.toDoItem input:checked + span {
		text-decoration: line-through;
		text-decoration-color: var(--textColor);
	}

	.toDoItem .doRestore {
		font-size: 1.2rem;
		display: none;
	}

.toDoItemMenu {
	position: absolute;
	right: 0;
	top: 1px;
	display: none;
	margin: 0;
	padding: 0;
	display: none;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bgFormColor);
	padding: 0.5rem;
}

	.toDoItemMenu img {
		width: 1.1rem;
		padding: 0.2rem;
		cursor: pointer;
		margin: 0;
	}

		.toDoItemMenu img:hover {
			background-color: var(--bgColor);
		}

.restoreToDoList {
	position: absolute;
	bottom: 0;
	right: 0;
	width: var(--toDoListWidth);
	flex-direction: column-reverse;
	border: 1px solid var(--borderColor);
	background-color: var(--bgRestoreListColor);
	padding: 1rem;
}

	.restoreToDoList .toDoItem {
		background-color: var(--bgRestoreListItemColor);
		margin-bottom: 1rem;
	}

		.restoreToDoList .toDoItem:hover .toDoItemMenu {
			display: none;
		}

	.restoreToDoList:empty {
		display: none;
	}

	.restoreToDoList:not(:empty) {
		display: flex;
	}

	.restoreToDoList .doRestore {
		display: block;
	}

	.toDoListProgressBar {
		width: 100%; 
	}

    .toDoList{

    }